{% extends 'base.html' %}

{% block title %}
{{post.category.title}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
           
            {% if category.image.url != null %}
                <img src="{{category.image.url}}" style="width: 100%;" alt="">
            {% endif %}
            <h3>{{category.title}}</h3>
            <hr>
            <div class="row">
                {% for post in category.post_set.all %}
                <div class="col-md-4">
                  <div class="card">
                    {% if post.image.url != null %}
                      <img style="height: 300px; object-fit: cover" src="{{post.image.url}}" class="card-img-top" alt="...">
                      {% endif %}
                      <div class="card-body">
                        <a href="{{post.get_absolut_url}}">
                          <h5 class="card-title">{{post.title}}</h5>
                        </a>
                        <p class="card-text">{{post.content|slice:"0:100"}}</p>
                        <a href="{{post.category.get_absolut_url}}" class="btn btn-primary">{{post.category.title}}</a>
                      </div>
                      
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
